*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
JukeApplication.kt
local.properties
*.salive
app/release/

.kotlin
LINKEDIN_*.md
ANALYTICS*.md
spotdown-kv-worker/wrangler.json

diff.txt
.kiro/*